---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="http://o7bkkhiex.bkt.clouddn.com/%E9%A9%AC%E6%B5%A9%E7%8F%8D-min.jpg"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>马浩珍/男/23岁</h2>
                    <p>意向职位：Web前端开发工程师</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title"> 工作经历</h3>
                    <p>
                        2016年7月-2017年6月, 在校园自媒体公司任前端开发职务
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>1. 使用 ES6 + Vue + Bulma + webpack, 参与官网后台的开发</li>
                            <li>2. 独立负责开发一款面向校园查询成绩课标的微信小程序, 在开发的过程中最棘手的问题是解决 iOS 与 Android 平台微信内因不同的渲染引擎导致的排版错误, 和使用第三方 Labrador 框架解决前期小程序无法优雅的组件化的问题</li>
                            <li>3. 使用 jQuery + Bootstrap 编写和维护官网首页</li>
                        </ul>
                    </div>
                </div>
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-folder-open"></span> Project</h3>
                    <div class="project-body">
                        <ul>
                            <li>为一款 Node.js 博客系统开发的两款主题:<a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank"> Anisina</a> 与 <a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank">Claudia</a></li>
                            <li><a href="https://github.com/Haojen/alfred-Parrot" target="_blank"> 一款支持多语种的 Alfred Workflow 翻译插件</a></li>
                            <li> <a href="http://haojen.github.io/my-works/" target="_blank">更早期的项目<span class="glyphicon glyphicon-link"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>学历: 初中</p>
                        <p>个人博客: <a target="_blank" href="http://haojen.github.io/"> haojen.github.io <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>GitHub: <a target="_blank" href="http://github.com/haojen">http://github.com/haojen <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>爱好: 单片机,硬件,健身</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">正在深入学习的</h3>
                    <ul>
                        <li>Vue 组件化</li>
                        <li>React Native</li>
                        <li>Webpack</li>
                        <li>ES6/7 新特性</li>
                    </ul>
                </div>
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-earphone"></span> 联系我</h3>
                        <p>
                            电 &nbsp; &nbsp; &nbsp; 话: 15175758087
                        </p>
                        <p>
                            邮 &nbsp; &nbsp; &nbsp; 箱: haojen.ma@gmail.com
                        </p>
                </div>
            </div>
        </div></div>
</div>




