<% if (config.open_bg_particle){ %>
  <%- js('js/particles.min.js') %>
  <div id="particles" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1"></div>
  <%- js('js/particles') %>
<% } %>

